@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap);
html {
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Dosis, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#loader {
  background-image: url(../assets/img/salon15.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loader .darker{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
}
#loader .darker .centering{
  width: fit-content;
  text-align: center;
}
#loader .darker .centering h1{
  font-size: 5rem;
  padding: 1rem 2rem;
  background: black;
  display: table;
  color: white;
  mix-blend-mode: multiply;
}
#loader .darker .centering .blacker{
  margin: auto;
  background: linear-gradient( #50dfdb , #50dfdb) white no-repeat 0 0;
  background-size: 0 100%;
  animation: colorIt 6s linear 1 forwards;
}
#loader .darker .centering .blacker.ar{
  background: linear-gradient( #50dfdb , #50dfdb) white no-repeat top right;
  background-size: 0 100%;
  animation: colorIt 6s linear 1 forwards;
}

#loader .darker .centering p{
  color: #50dfdb;
  font-size: 2rem;
}
.hide-it{
  display: none;
}
@keyframes colorIt {
  to {
    background-size: 100% 100%;
  }
}
footer,
header,
section {
  max-width: 1300px;
  /* max-height: 800px; */
  margin: auto;
}
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Roboto, helvetica, arial, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.remplace {
  width: 100%;
  height: 80px;
}

.whatsapp {
  position: fixed;
  width: 80px;
  height: 80px;
  text-align: center;
  bottom: 1rem;
  right: 1rem;
  font-size: 4rem;
  color: #fff;
  border-radius: 50%;
  background-color: #019483;
  z-index: 9;
}
.whatsapp:focus{
  color: #fff;
  background-color: #00c7b0;
}
.whatsapp span {
  display: none
}

/* ============================= header ============================ */
header {
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; */
  /* position: absolute;
  top: -100%; */
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* .fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
} */
.sc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sc-header .second-sc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.sc-header .socials,
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sc-header .socials li,
footer .socials li {
  display: inline-block;
}
.sc-header .socials li a,
footer .socials li a {
  color: #58cddf;
}
.sc-header .socials li i,
footer .socials li i {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 4.8px;
  margin: 0 0.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sc-header .socials li:hover i,
footer .socials li:hover i {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
label.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 48px;
  margin: 0 0 0 3rem;
  position: relative;
  float: left;
}
label.logo img {
  max-width: 200px;
  margin-top: 12.8px;
  margin-top: 0.8rem;
}
.nav ul {
  float: right;
  margin-right: 20px;
}
.nav ul li {
  display: inline-block;
  margin: 0 5px;
  border-bottom: 3px solid #58cddf;
  width: 96px;
  width: 6rem;
  font-weight: 500;
  padding: 8px 0;
  padding: 0.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #58cddf;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--m) - 1) * 25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--m) - 1) * 0.1s);
  transition-delay: calc((var(--m) - 1) * 0.1s);
  z-index: -1;
}
.nav ul li:hover span {
  -webkit-transform: translateY(0) scale(2);
  transform: translateY(0) scale(2);
}
.nav ul li span:nth-child(1) {
  --m: 1;
}
.nav ul li span:nth-child(2) {
  --m: 2;
}
.nav ul li span:nth-child(3) {
  --m: 3;
}
.nav ul li span:nth-child(4) {
  --m: 4;
}
.nav ul li a {
  color: #999;
  font-weight: 600;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.nav ul li:hover a {
  color: #f3f3f3;
}
.checkbtn {
  color: #0b5475;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #58cddf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #6c757d;
}
/* ===================== under header section ================== */

.under-header{
  height: auto;
  width: 100%;
}
.carousel-container{
  width: 100%;
  height: auto;
}

.carousel {
  height: 350px;
  width: 100%;
  overflow: hidden;
  /* text-align: center; */
  position: relative;
  padding: 0;
  list-style: none;
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 1s, transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 1s, transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 1s, transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 1s, transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 1s, transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 50px;
  width: 50px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 8px 8px 0 0;
  border-style: solid;
  border-color: #58cddf;
  opacity: 0.55;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  transform: rotate(45deg);
}

.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}

.carousel-container {
  display: inline-block;
}

.carousel__slide {
  overflow: hidden;
}

.carousel__slide h1 {
  display: none;
}

.carousel__indicators {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel--thumb .carousel__indicator {
  height: 15px;
  width: 15px;
}
.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide img{
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(100%);
}

.carousel__slide .slide-content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 2rem;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  
}

.carousel__slide .slide-content h2{
  color: #50dfdb;
  margin-bottom: 0.3rem;
}

.carousel__slide .slide-content p{
  color: #f3f3f3;
}



/* ===================== banner section ================== */
#background-video {
  max-width: 1300px;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.banner .row {
  height: 350px;
  width: 100%;
}
.banner-content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.596);
}

.banner .box {
  position: absolute;
  top: 0;
  right: 10%;
  width: 300px;
  height: 350px;
  /* max-height: 800px; */
  background: #167a8a9f;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #58cddf;
  color: #fff;
}
.banner .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}
.banner .box:hover:before {
  left: -50%;
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
}
.banner .box .content {
  position: relative;
  height: -webkit-fill-available;
  text-align: center;
  width: 100%;
}
.banner .row .title-banner {
  width: 60%;
  height: 350px;
  position: relative;
}
.banner .row .title-banner h3 {
  font-size: 40px;
  font-size: 1.2rem;
  font-family: Righteous, cursive;
  color: #fff;
  text-transform: uppercase;
}
.banner .row .title-banner h2 {
  font-size: 80px;
  font-size: 2.5rem;
  font-family: Righteous, cursive;
  color: #fff;
  text-transform: uppercase;
}
.banner .row .title-banner .anime {
  margin: 16px auto;
  margin: 1rem auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner .row .title-banner .anime span {
  color: #fff;
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 16px;
  margin: 0 1rem;
  font-size: 0;
  font-size: 0rem;
  font-weight: 700;
  box-shadow: 1px 1px 10px 1px #58cddf;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.scale-it {
  width: 60px !important;
  height: 60px !important;
  font-size: 13.6px !important;
  font-size: 0.5rem !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.banner .row .title-banner h2 span {
  color: #79d7e5;
}
.banner .box .content .centering {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
.banner .box .content .centering h3 {
  font-size: 25px;
  font-size: 1.5rem;
  border-bottom: 2px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 4.8px 0;
  padding: 0.3rem 0;
}
.banner .box .content p {
  font-size: 14.6px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
.banner .box .content .cnt {
  margin-top: 32px;
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner .box .content .cnt a {
  padding: 6px 12px;
  padding: 0.5rem 1rem;
  color: #005d6b;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 0.5rem;
  width: 45%;
  text-align: center;
}
.banner .box .content .cnt a:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.banner .box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.banner .box span:nth-child(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.banner .box span:nth-child(2) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.banner .box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

/* ==================================== inset section ========================= */
.inset {
  max-height: 100%;
}

.inset .col-1{
  margin-bottom: 4rem;
}

.inset .col-1 h1{
  font-size: 1.8rem;
  color: #16aaa5;
}

.inset .col-1 p{
  color: #3d3d3d;
  letter-spacing: 2x;
  font-size: 1.1rem;
}

.inset h2:first-child {
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0 48px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #000;
  text-align: center;
}
.inset .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-width: 1126px;
  margin: 4rem auto;
}
.inset .Content {
  padding: 64px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
}
.inset .Content:before {
  content: "";
  border: 6px solid #bef6ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.inset .Quotation:before {
  content: "“";
  display: block;
  font-size: 64px;
  margin-bottom: -20px;
  line-height: 1;
}
.inset .headline.Quotation {
  font-size: 36px;
  letter-spacing: -1.5px;
  font-weight: 700;
}
.inset .Testifier strong {
  font-weight: 700;
}
.inset .Content .Link {
  z-index: 10;
  color: #58cddf;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 2px;
  text-decoration: none;
  letter-spacing: -0.5px;
  border-bottom: 2px solid #58cddf;
}
.inset .image {
  position: relative;
  width: 100%;
  margin-left: -30px;
  margin-right: -10px;
  height: 100%;
  padding-top: 51%;
  -webkit-transform: translateY(-32px);
  transform: translateY(-32px);
  box-shadow: 0 0 6px #777;
}
.inset .image.ar{
  margin-left: -10px;
  margin-right: -30px;
}
/* =================================== projects links ============================== */

.projects{
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.projects h1{
  width: 70%;
  margin: 2rem auto 0;
}

.projects .container{
  display: grid;

}

.projects .row{
  width: 100%;
  margin: 2rem auto 0;

}

.projects .row a,
.projects-single .row a {
  width: 24%;
  height: 200px;
  float: left;
  margin: 0.3rem;
}

.projects .row a .col,
.projects-single .row a .col{
  width: 100%;
  height: 100%;
  transition: 1s;
}
.projects .row a:hover .col,
.projects-single .row a:hover .col{
  background-size: 160% !important;
}
.projects .row a .col .back,
.projects-single .row a .col .back{
  height: 100%;
  width: 100%;
  background-color: rgba(161, 161, 161, 0.109);
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem 0;
}

.projects .row a .col .back:hover,
.projects-single .row a .col .back:hover{
  background-color: rgba(0, 0, 0, 0.199);
}

.projects .row a .col .back span,
.projects-single .row a .col .back span{
  color: #50dfdb;
  font-weight: 700;
}
.projects .row a .col .back span:first-child,
.projects-single .row a .col .back span:first-child{
  border-top: 1px solid #50dfdb;
}
.projects .row a .col .back span:last-child,
.projects-single .row a .col .back span:last-child{
  opacity: 0;
  border: 1px solid #50dfdb;
  width: fit-content;
  padding: 0.3rem 0.7rem;
  margin: 0 auto;
  transition: 1s;
}
.projects .row a:hover .col .back span:last-child,
.projects-single .row a:hover .col .back span:last-child{
  opacity: 1;
}


/* =================================== services section ============================ */

.services {
  width: 100%;
  height: auto;
  margin: 2rem auto 0;
  padding: 4rem 0;
}

.services .container{
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.services .container .col-2 .cols{
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.services .container .col-2 h1{
  font-size: 2.2rem;
  margin: 0;
}
.services .container .col-2 .col{
  width: 30%;
  height: auto;
  margin: 1rem 0.5rem;
  padding: 1rem;
}

.services .container .col-2 .col h2{
 font-size: 1.2rem;
  margin: 0 0 0.5rem;
  font-weight: 700;
}

.services .container .col-2 .col h2 i{
  margin-right: 0.5rem;
  color: #50dfdb;
}

.services .container .col-2 .col .padd{
    padding-left: 2rem;
}

.services .container .col-2 .col .padd p{
  color: rgb(88, 88, 88);
  font-size: 1rem;
}
x
/* ==================================== offering =================================== */
.offering {
  text-align: center;
  margin: 32px auto;
  margin: 2rem auto;
  max-height: 100%;
}
.offering .container {
  background-image: url(../assets/img/chicken.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.offering .container .darker {
  background-color: rgba(0, 0, 0, 0.76);
  padding: 48px 0;
  padding: 3rem 0;
  text-align: center;
}
.offering h1 {
  margin: 32px auto 8px;
  margin: 2rem auto 0.5rem;
  font-size: 48px;
  font-size: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ebebeb;
  border-bottom: 3px solid #58cddf;
}
.offering #typer {
  color: #58cddf;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}
.offering .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 32px auto;
  margin: 2rem auto;
  width: 90%;
}
.offering .row .col {
  width: 32%;
  padding: 16px;
  padding: 1rem;
  color: #eefafb;
  text-align: left;
}
.offering .row .col h2 {
  color: #e7e701;
  margin-bottom: 11.2px;
  margin-bottom: 0.7rem;
  font-size: 19.2px;
  font-size: 1.2rem;
}
.offering .row .col span {
  color: #58cddf;
}
.offering .row .col p {
  letter-spacing: 1px;
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 1.2;
  margin-bottom: 11.2px;
  margin-bottom: 0.7rem;
}
.offering .row .col img {
  width: 100%;
}

/* ============================ contact ========================== */
.contact {
  position: relative;
  max-height: 100%;
}
.contact .darker {
  padding: 3rem;
  text-align: center;
}
.contact .h1 {
  margin: 0 auto;
  color: #222;
}
.contact #container {
  width: 90%;
  padding: 2rem 1rem;
  margin: 2rem;
  border: 2px solid #b6cfd3;
}
.contact #container .form {
  width: 100%;
  display: table;
  text-align: center;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  padding: 32px 24px;
  padding: 2rem 1.5rem;
  border-bottom: 2px solid #50dfdb;
}
.contact #container .form .row {
  float: left;
  width: 50%;
}
.contact input[type="text"],
.contact select,
.contact textarea {
  width: 90%;
  font-size: 12.8px;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #50dfdb;
  background-color: transparent;
  border-radius: 4px;
  color: #000;
  resize: vertical;
  outline: 0;
}
.contact input[type="text"]:focus,
.contact select:focus,
.contact textarea:focus {
  outline: #58cddf;
}
.contact input[type="text"]::-webkit-input-placeholder,
.contact select::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #585858;
}
.contact input[type="text"]::-moz-placeholder,
.contact select::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: #585858;
}
.contact input[type="text"]:-ms-input-placeholder,
.contact select:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #585858;
}
.contact input[type="text"]::placeholder,
.contact select::placeholder,
.contact textarea::placeholder {
  color: #585858;
}
.contact label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #222;
}
.contact input[type="submit"] {
  background-color: #2df0f1;
  color: #000;
  margin-top: 48px;
  margin-top: 3rem;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
.contact textarea {
  height: 120px !important;
}
.contact input[type="submit"]:hover {
  background-color: #fff;
  color: #58cddf;
}
.contact .col-25 {
  width: 100%;
  margin-top: 6px;
  text-align: left;
}
.contact .col-75 {
  width: 100%;
  text-align: left;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
.contact .sec-two {
  width: 100%;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  padding: 32px 24px 0;
  padding: 2rem 1.5rem 0;
  color: #fff;
}
.contact .sec-two h2{
  color: #000;
  margin-bottom: 1rem;
}
.contact .sec-two .col {
  width: 100%;
}

.contact .sec-two .col.first {
  display: flex;
  justify-content: space-around;
}

.contact .sec-two .col.first a {
  font-size: 2.5rem;
  color: #474747;
  margin: 1rem;
  line-height: 0.5;
  width: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 140px;
  border-radius: 50%;
  background-color: #55908e;
}
.contact .sec-two .col.first a:hover i{
  animation: moveIt 0.3s;
}
@keyframes moveIt {
  0%{
    transform: rotate(20deg);
  }
 50%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}
.contact .sec-two .col.first a i{
  color: #ffffff;
}
.contact .sec-two .col.first a span{
  font-size: 1.2rem;
  color: #ffffff;
}
.contact .sec-two iframe {
  width: 100%;
  min-height: 350px;
  margin: 32px auto 0;
  margin: 2rem auto 0;
}
.contact #map .gm-style div[role=img][title]:hover::after {
  width: 93px !important;
  height: 99px !important;
  font-size: 4rem;
}

/* ================================= footer section ========================== */
footer .container {
  padding: 48px 0;
  padding: 3rem 0;
  margin: 48px 48px 0;
  margin: 3rem 3rem 0;
}
footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
footer .row .col-3 {
  width: 33%;
  padding: 0 32px;
  padding: 0 2rem;
  text-align: left;
}
footer .row .col-3.social1 {
  width: 45%;
}
footer .row .col-3.social1 h3 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
footer .row .col-3.social1 p {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
footer .row .col-3 ul {
  padding: 0;
}
footer .row .col-3 h3 {
  color: #58cddf;
  font-size: 22.4px;
  font-size: 1.4rem;
}
footer .row .col-3 ul li {
  list-style-type: none;
}
footer .social1 p {
  text-align: left;
  line-height: 30px;
  color: #6c757d;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social li {
  margin: 15px;
}
footer .info li {
  color: #6c757d;
  margin: 15px auto;
}
footer .info li p {
  text-align: left;
  color: #6c757d;
}
footer .quick-links li {
  margin: 15px 0;
}
footer .quick-links li a {
  font-size: 18px;
  color: #58cddf;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
footer .copyright p {
  margin: 50px auto 20px;
  color: #6c757d;
}
footer .copyright p span {
  color: #58cddf;
}


/* ============================================== single page ======================= */

.banner-single{
  width: 100%;
  min-height: auto;
}

.banner-single .container{
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-single .container .darker{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
}


.banner-single .container h1{
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.inset.single {
  width: 70%;
  float: left;
  padding-top: 10px;
}

.inset-description{
  margin: 2rem auto 0;
  width: 90%;
}
.inset-description h1{
  color: #00c7b0;
}

.inset.single .container .col{
  width: 100%;
  min-height: 500px;
  margin: 2rem auto;
}

.inset.single .gallery {
  width: 100%;
}
.inset.single .gallery-cell {
  width: 100%;
  height: 500px;
  counter-increment: gallery-cell;
  margin: 0 5px;
}
.inset.single .gallery-cell:before {
  display: none;
}
.inset.single .nobuton .flickity-prev-next-button:disabled {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.inset.single .wrapper {
  width: 100%;
  margin: 2rem auto;
  /* height: 500px; */
  background-color: transparent;
}

.inset.single .video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(1, 1, 29);
}

.playing {
  background-color: #dddddd;
}
.inset.single .description {
  font-size: 10px;
  line-height: 20px;
  width: auto;
  color: white;
}

.inset.single .title {
  font-size: 26px;
  margin: 0;
  color: white;
}


.inset.single .button {
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  background-repeat: none;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
}

.inset.single .button:active {
  transform: scale(0.9);
}

.inset.single .backward {
  background-image: url('../assets/icons/backward.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .expand {
  background-image: url('../assets/icons/expandd.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  margin-right: 0;
}

.inset.single .forward {
  background-image: url('../assets/icons/forward.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .pause {
  background-image: url('../assets/icons/pause.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .play {
  background-image: url('../assets/icons/play.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .reduce {
  background-image: url('../assets/icons/reduce.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  margin-right: 0;
}

.inset.single .silence {
  background-image: url('../assets/icons/silence.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .volume {
  background-image: url('../assets/icons/volume.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}

.inset.single .player {
  height: 100%;
  width: 100%;
  position: relative;
}

.inset.single .player-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -22.28%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 1;
  transition: 0.3s opacity;
}

.inset.single .content {
  width: 100%;
  height: 100%;
  display: grid;
}

.inset.single .information-container {
  width: 100%;
  height: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inset.single .player-container {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  background-color: #6b6b6bab;
  height: 20%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.inset.single .player-progress-bar {
  width: 100%;
}

.inset.single .video-progress {
  display: flex;
  width: 100%;
  height: 6px;
  transition: 0.3s;
  background-color: #7c7c7c;
  cursor: pointer;
}

.inset.single .video-progress-filled {
  width: 0;
  background-color: white;
}

.inset.single .player-controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.inset.single .player-buttons {
  display: flex;
  align-items: center;
}

.inset.single .volume-progress {
  display: flex;
  width: 70px;
  height: 6px;
  transition: 0.3s;
  background-color: #7c7c7c;
  cursor: pointer;
}

.inset.single .volume-progress-filled {
  width: 0;
  background-color: white;
}

.inset.single .time-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.inset.single .time-container p {
  color: white;
}
.inset.single .current-time {
  width: 40px;
}

.inset.single .duration-video {
  width: 40px;
}

.inset.single .time-separator {
  margin: 0 10px 0 5px;
}

.inset.single .expand-container {
  display: flex;
  align-items: center;
}

.projects-single {
  width: 30%;
  height: auto;
  float: right;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.projects-single .row {
  width: 100%;
  margin: 0 auto;
}

.projects-single .row a{
  width: 100%;
  display: block;
  float: none;
}

.projects-single .row a .col{
  margin: 1rem auto;
}
.clear {
  clear: both;
}
@media screen and (min-width: 960px) {
  /* #background-video {
    max-height: 800px;
  } */
  .banner .row {
    max-height: 800px;
  }
  .inset {
    padding: 96px 48px 40px;
    width: 100%;
  }
  .inset .Container{
    width: 90%;
  }
  .inset .Content {
    padding: 64px 60px;
    max-width: 400px;
    min-width: 328px;
  }
  .inset .Content:before {
    border-width: 10px;
  }
  .inset .Quotation:before {
    font-size: 72px;
  }
  .inset .Testifier {
    max-width: 188px;
    margin-top: 20px;
  }
  .inset .Image {
    -webkit-transform: translateX(-40px) translateY(40px);
    transform: translateX(-40px) translateY(40px);
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    height: auto;
    padding-top: 0;
  }
  .inset .Quotation:before {
    font-size: 72px;
  }
}
@media screen and (max-height: 540px) {
  
}
@media screen and (max-width: 1020px) {
  .projects .row a {
    width: 32%;
  }
}
@media screen and (max-width: 959px) {
  .banner .container {
    margin-top: 4rem;
  }
  .dropdown {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 9;
  }
  nav ul li {
    display: block !important;
    width: 7rem !important;
    margin: 15px auto !important;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    background: 0 0;
    color: rgba(1, 156, 27, 0.589);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .sc-header .second-sc-header {
    display: table;
  }
  .sc-header .socials,
  footer .socials {
    display: none;
  }
  .inset {
    padding: 2rem 1.8rem;
  }
  .inset .Container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inset h2:first-child {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 30px;
    padding: 0;
  }
  .Container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headline {
    font-size: 26px;
  }
  .inset .image, .inset .image.ar {
    margin-left: 0;
    margin-right: 0;
  }
  
  .banner .row .title-banner h3 {
    font-size: 1.5rem;
  }
  .banner .row .title-banner h2 {
    font-size: 3rem;
  }
  .banner .box {
    right: 5%;
  }
  .projects {
    max-height: 100%;
  }
  .projects .container h1{
    width: 100%;
    font-size: 1.5rem;
  }
  
  .contact .darker {
    padding: 3rem 1rem;
  }
}

@media only screen and (min-width: 850px) {
  .nav ul li {
    font-size: 0.7rem;
    width: 5rem;
    margin-right: 0.3rem;
  }
  .sc-header .socials li i {
    font-size: 1rem;
  }
  
}
@media screen and (max-width: 800px) {
  #loader .darker .centering h1{
    font-size: 2.5rem;
  }
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .row .col-3 {
    width: 100% !important;
    margin: 1.5rem;
  }
  footer .row .col-3 .quick-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .banner .row .title-banner {
    display: none;
  }
  .banner .row .title-banner h3 {
    font-size: 1.6rem;
  }
  .banner .row .title-banner h2 {
    font-size: 3.5rem;
  }
  .scale-it {
    width: 80px !important;
    height: 80px !important;
    font-size: 0.9rem !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  .banner .box {
    top: auto;
    bottom: 0;
    right: auto;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .banner .box .content .centering{
    top: 65%;
    width: 70%;
  }
  .banner .box .content .centering .fst{
    display: none;
  }
  .banner .box .content .centering .lst{
    display: block !important;
  }
  .banner .box .content .cnt a{
    width: 40%;
  }
}

@media only screen and (max-width: 870px) {
  .services .container .col-2 .col {
    width: 45%;
  }
}

@media screen and (max-width: 750px) {
  #background-video {
    display: none;
  }

  .banner .row {
    height: 100%;
    width: 100%;
    background-image: url(../assets/img/villa-two2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel {
    height: 310px;
  } 
  .carousel__slide {
    background-color: #535353;
  }
  .carousel__slide img{
    height: auto;
  }
  .carousel__slide .slide-content h2 {
    font-size: 1.1rem;
  }
  .carousel__slide .slide-content p {
    font-size: 0.8rem;
  }
  .projects .container h1 {
    width: 90%;
    font-size: 1.2rem;
  }
  .projects .row a {
    width: 48%;
  }
  .services .container .col-2 .col {
    padding: 0rem;
  }
  .services .container {
    width: 100%;
  }
  .services .container .col-2 h1 {
  font-size: 2rem;
  }
  .offering .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .offering .row .col {
    width: 80%;
    margin: 0 auto;
  }
  .offering .row .col h2 {
    font-size: 1.3rem;
  }
  .offering .row .col p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact .sec-two .col.first a {
    font-size: 2rem;
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
  }
  .contact .sec-two .col.first i {
    font-size: 1.4rem;
  }
  .contact .sec-two .col.first span {
    font-size: 1rem !important;
  }
  
  
  .inset.single {
    width: 100%;
    float: none;
  }
  .inset.single .container .col {
    min-height: 300px;
  }
  .inset.single .gallery-cell {
    height: 300px;
  }
  .projects-single {
    width: 100%;
    padding-top: 0;
    float: none;
  }
  
  .projects-single .row {
    width: 100%;
  }
  .projects-single .row a{
    width: 48%;
    float: left;
  }


}
@media only screen and (min-width: 700px) {
  .whatsapp:hover span {
    border: 2px solid #50dfdb;
    color: #000;
    font-size: 1rem;
    padding: 5px;
    display: block;
    z-index: 100;
    background-color: white;
    right: 2rem;
    width: 220px;
    position: absolute;
    bottom: 3rem;
    text-decoration: none;
  }
  
}
  
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .projects .row a {
    width: 45%;
  }

}
@media screen and (max-width: 600px) {
  
  .contact .darker {
    padding: 3rem 0;
  }
  .contact #container {
    width: 100%;
    margin: 1rem auto;
  }
  .contact #container .form {
    padding: 2rem 0.5rem;
  }
  .contact #container .form .row {
    padding-right: 0.5rem;
  }
  .contact .sec-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact .sec-two .col {
    width: 90%;
  }
  .contact input[type="text"],
  .contact select,
  .contact textarea {
    width: 100%;
  }
  .services .container .col-2 h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
  .services .container .col-2 .col h2 {
    font-size: 1rem;
  }
  .services .container .col-2 .col .padd p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  #loader .darker .centering h1{
    font-size: 2rem;
    margin: 1rem auto;
  }
  #loader .darker .centering p{
    font-size: 1.5rem;
  }
  .services .container .col-2 .col {
    width: 75%;
  }
  .services .container .col-2 h1 {
    font-size: 1.5rem;
  }
  .projects .row a .col .back span {
    font-size: 1.2rem;
  }
  .carousel {
    height: 270px;
  }
  .projects-single .row a{
    width: 98%;
    float: none;
  }
  .inset {
    padding: 2rem 0.3rem;
  }


}

@media screen and (max-width: 450px) {
  .banner .row .title-banner h3 {
    font-size: 1.3rem;
  }
  .banner .row .title-banner h2 {
    font-size: 3rem;
  }
  .banner .box .content .centering {
    top: 60%;
    width: 80%;
  }
  .carousel__control--forward {
    animation: moveIn 2s infinite;
  }
  @keyframes moveIn {
    0%{
      right: 1rem;
    }
    50%{
      right: 0.1rem;
    }
    100%{
      right: 1rem;
    }
  }
  .carousel__control--backward {
    animation: moveOut 2s infinite;
  }
  @keyframes moveOut {
    0%{
      left: 1rem;
    }
    50%{
      left: 0.1rem;
    }
    100%{
      left: 1rem;
    }
  }
  .scale-it {
    width: 60px !important;
    height: 60px !important;
    font-size: 0.8rem !important;
  }
  .carousel__control {
    height: 30px;
    width: 30px;
  }
  .banner .box .content .centering {
    text-align: center;
  }
  .banner .box .content .centering h3 {
    font-size: 1.3rem;
    margin: 0 auto 0.3rem;
  }
  .banner .box .content .centering p {
    font-size: 0.9rem;
  }
  .banner .box .content .cnt {
    margin-top: 1rem;
  }
  .banner .box .content .cnt a {
    font-size: 0.8rem;
  }
  .inset {
    padding: 2rem 1rem;
  }
  .inset .Content {
    padding: 40px 20px;
  }
  .inset .col-1 h1 {
    font-size: 1.3rem;
  }
  .projects .row a {
    width: 100%;
    height: 170px;
  }
  .projects .row a .col .back{
    padding: 4rem 1rem 0 !important;
    background-color: rgb(0, 0, 0, 33%);
  }
  .projects-single .row a .col .back span:last-child,
  .projects .row a .col .back span:last-child {
    opacity: 1;
  }
  .services .container .col-2 .col {
    width: 95%;
  }
  .services .container {
    padding: 0 0.7rem;
  }
  .services .container .col-2 .col h2 i {
    font-size: 1.5rem;
  }
  .services .container .col-2 .col .padd {
    padding-left: 2.3rem;
  }
  .offering h1 {
    font-size: 2rem;
  }
  .offering #typer {
    font-size: 1.8rem;
  }
  .offering .row .col h2 {
    font-size: 1.2rem;
  }
  .offering .row .col p {
    font-size: 0.8rem;
  }
  .offering .row {
    width: 100%;
  }
  .offering .row .col {
    width: 95%;
  }
  
  
  .contact #container {
    width: 100%;
    padding: 2rem 0.2rem;
    border: none;
  }
  
  .contact #container .form {
    padding: 2rem 0;
    margin: 0 auto;
    width: 95%;
  }
  .contact .sec-two {
    padding: 2rem 0 0;
  }
  .contact .sec-two h2{
    font-size: 1.4rem;
  }
  .contact .sec-two .col {
    width: 100%;
  }
  .contact .sec-two .col.first a {
    font-size: 1rem;
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
  }
  .contact .sec-two .col.first i {
    font-size: 1.3rem;
  }
  .contact .sec-two .col.first span {
    font-size: 0.8rem !important;
  }
  
  .contact .sec-two .col div {
    width: 100%;
  }
  footer .container {
    padding: 0 0 2rem;
    margin:0;
  }
  footer .row .col-3 {
    width: 100% !important;
    margin: 1.5rem 0;
  }
  footer .copyright p {
    padding: 0 2rem;
  }
  footer .row .col-3 .quick-links {
    justify-content: space-between;
}
}
