@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
html{
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section, header, footer{
  max-width: 1300px;
  max-height: 800px;
  margin: auto;
}
h2, h3, h4, h5, h6, th {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

blockquote, q {
  quotes: none;
}

.centering{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* === navigation === */
.remplace{
  width: 100%;
  height: 80px;

}
header{
    border-bottom: 5px solid #58cddf;
    box-shadow: 5px 5px 15px #58cddf;
    animation: animatedgradient 3s ease alternate infinite;
    position: absolute;
    top: -100%;
    background-color: white;
    transition: 0.5s;
}

.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

@keyframes animatedgradient {
    0% {
        border-bottom-color: #8db9ff;
        box-shadow: 5px 5px 15px #8db9ff;
    }
    50% {
        border-bottom-color: #58cddf;
        box-shadow: 5px 5px 15px #58cddf;
    }
    100% {
        border-bottom-color: #0e9c85;
        box-shadow: 5px 5px 15px #0e9c85;
    }
  }

  
.sc-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sc-header .second-sc-header{
    /* padding: 2rem 0 0; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.sc-header .socials, footer .socials{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sc-header .socials li, footer .socials li{
    display: inline-block;
}

.sc-header .socials li a, footer .socials li a{
    color: #58cddf;
}


.sc-header .socials li i, footer .socials li i{
    font-size: 1.2rem;
    margin: 0 0.3rem;
    transition: all 0.5s;
}

.sc-header .socials li:hover i, footer .socials li:hover i{
    transform: scale(1.5);
}


label.logo{
    width: fit-content;
    margin: 0  0 0 3rem;
    position: relative;
    float: left;
}

label.logo img{
    max-width: 200px;
    margin-top: 0.8rem;
}

.nav ul{
    float: right;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    margin: 0 5px;
}

.nav ul li {
    color: #58cddf;
    font-size: 0.9rem;
    border-bottom: 3px solid #58cddf;
    width: 6rem;
    font-weight: 500;
    padding: 0.5rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #58cddf;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--m) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--m) - 1) * 0.1s);
    z-index: -1;
}


.nav ul li:hover span {
    transform: translateY(0) scale(2);
}

.nav ul li span:nth-child(1) {
    --m: 1;
}

.nav ul li span:nth-child(2) {
    --m: 2;
}

.nav ul li span:nth-child(3) {
    --m: 3;
}

.nav ul li span:nth-child(4) {
    --m: 4;
}

.nav ul li a{
    color: #58cddf;
    transition: 0.8s;
}
.nav ul li:hover a{
    color: black;
}

/* .nav a.active, .nav a:hover {
    border-bottom: 3px solid #58cddf;
    transition: .5s;
} */
.checkbtn{
    color: #0b5475;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* ============ banner section =============== */
#background-video {
  max-width: 1300px;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.banner .row {
    height: 100vh;
    max-height: 800px;
    width: 100%;
}

.banner-content{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.596);
}

.banner-content .img-logo{
  width: 120px;
  position: absolute;
  top: 1rem;
  left: 2.3rem;
}

.banner .box{
  position: absolute;
  top: 0;
  right: 10%;
  width: 300px;
  height: 100vh;
  max-height: 800px;
  background: #167a8a9f;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #58cddf;
  color: white;
}
  
  .banner .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .banner .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .banner .box .content{
    position:relative;
    height: -webkit-fill-available;
    text-align:center;
    width: 100%;
  }

   
  .banner .row .title-banner{
    width: 60%;
    height: 100vh;
    max-height: 800px;
    position: relative;
  }
   
  .banner .row .title-banner h3{
    font-size: 2.5rem;
    font-family: 'Righteous', cursive;
    color: white;
    text-transform: uppercase;
  }

  .banner .row .title-banner h2{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
    color: white;
    text-transform: uppercase;
  }
 

  .banner .row .title-banner .anime{
    margin: 1rem auto;
    width: 100%;
    display: flex;
    align-items: center;
  }
 

  .banner .row .title-banner .anime span{
    color: #ffffff;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 1rem;
    font-size: 0rem;
    font-weight: 700;
    box-shadow: 2px 2px 20px 6px #58cddf;
    transform: scale(0);
    transition: all 1s;
  }

  .scale-it {
    width: 90px !important;
    height: 90px !important;
    font-size: 1.1rem !important;
    transform: scale(1) !important;
  }
 

  .banner .row .title-banner h2 span{
    color: #79d7e5;
  }
 
  .banner .box .content .centering{
    position:absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  
  .banner .box .content .centering h3{
    font-size: 2rem;
    border-bottom: 2px solid white;
    width: fit-content;
    margin-bottom: 1rem;
    padding: 0.3rem 0;
  }
  
 
  .banner .box .content p{
    font-size: 1.1rem;
    font-weight: normal;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  
 
  .banner .box .content .cnt{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
 
  .banner .box .content .cnt a{
    padding: 0.5rem 1rem;
    color: #005d6b;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 45%;
    text-align: center;
  }
  
 
  .banner .box .content .cnt a:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }
  
  .banner .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .banner .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .banner .box span:nth-child(2)
  {
    transform:rotate(180deg);
  }
  
  .banner .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  }

  /* ============= under banner ============= */

  .under-banner {
    text-align: center;
    position: relative;
    margin-top: 5rem;
    height: 500px;
    max-height: 800px;
  }

  .under-banner .container{
    border: 24px solid #b7b8b3;
    padding-bottom: 2rem;
  }


  .under-banner .inder-img{
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    width: min-content;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .under-banner .inder-img span{
    color: #50dfdb;
    font-size: 2rem;
    position: absolute;
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
    box-shadow: 0px 1px 12px 6px #50dfdb82;
  }
  .under-banner .inder-img span:nth-child(2)
  {
    left: 0.5rem;
    bottom: 0.4rem;
  }
  .under-banner .inder-img span:nth-child(3)
  {
    left: 3.3rem;
    bottom: -1.5rem;
  }
  .under-banner .inder-img span:nth-child(4)
  {
    left: 6rem;
    bottom: 1rem;
  }
  .under-banner .inder-img span:nth-child(5)
  {
    left: 8.7rem;
    bottom: 0rem;
  }

  .under-banner .row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    
  }
  .under-banner .row div{
    padding-top: 8rem;
  }
  .under-banner .row .h2{
      color: #58cddf;
      font-size: 2rem;
  }
  .under-banner .row img{
      max-width: 450px;
      /* box-shadow: 6px 12px 20px 0 rgb(82, 82, 82); */
  }


  /* ============= offering ======================= */

  .offering {
      text-align: center;
      margin: 2rem auto;
      max-height: 100%;
  }
  .offering .container{
      background-image: url('/img/chicken.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
  .offering .container .darker {
      background-color: rgba(0, 0, 0, 0.76);
      padding: 3rem 0;
  }
  .offering h1 {
    margin: 2rem auto 0.5rem;
    font-size: 3rem;
    width: fit-content;
    color: rgb(235, 235, 235);
    border-bottom: 3px solid #58cddf;
  }
  .offering  #typer {
    color: #58cddf;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .offering  .row {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    /* gap: 2rem; */
    width: 90%;
}

  .offering  .row .col{
    width: 32%;
    padding: 1rem;
    color: #eefafb;
    text-align: left;
}
  .offering  .row .col h2{
    color: rgb(231, 231, 1);
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}
  .offering  .row .col span{
    color: #58cddf;
}
  .offering  .row .col p{
    letter-spacing: 1px;
    font-size: 0.9rem;
    line-height: 1.2;
    margin-bottom: 0.7rem;
}
  .offering  .row .col img{
    width: 100%;
}
  /* =============== inset ======================== */
.inset {
  max-height: 100%;
}
  .inset h2:first-child {
    font-weight: 400;
    margin-bottom: 24px;
    padding: 0 48px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
    color: #000;
    text-align: center;
  }
  
  .inset .Container {
  display: flex;
  height: 500px;
  max-width: 1126px;
  margin: auto;
}

.inset .Content {
  padding: 64px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.inset .Content:before {
  content: "";
  border: 6px solid #bef6ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.inset .Quotation:before {
  content: "“";
  display: block;
  font-size: 64px;
  margin-bottom: -20px;
  line-height: 1;
}

.inset .headline.Quotation{
  font-size: 36px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.inset .Testifier strong {
  font-weight: 700;
}

.inset .Content .Link {
  z-index: 10;
  color: #58cddf;
  width: fit-content;
  font-weight: 700;
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 2px;
  text-decoration: none;
  letter-spacing: -.5px;
  border-bottom: 2px solid #58cddf;
}

.inset .Image {
  margin-left: -10px;
  margin-right: -10px;
  height: 0;
  padding-top: 66%;
  transform: translateY(-32px);
  box-shadow: 0 0 6px #777;
}

/* =============== projects ======================= */


.projects .children {
  margin: 40px 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.projects .portfolio {
  width: 50%;
  max-height: 300px;
}
.projects .description{
  width: 50%;
  max-height: 300px;
  padding: 10px 30px;
} 
.projects .description p{
  margin: 0.5rem auto;
} 
.projects .description .one{
  color: #38b7ca;
  padding: 0.5rem 0;
} 
 
.projects .description .tags {
  display: flex;
} 
.projects .description .tags li{
  float: left;
  font-size: smaller;
  margin: 0.2rem 0.5rem;
  background-color: #eee;
  padding: 0.3rem;
} 
.projects .gallery {
  width: 100%;
}

.projects .gallery-cell {
  width: 100%;
  height: 300px;
  counter-increment: gallery-cell;
  margin: 0 5px;
}

/* cell number */
.projects .gallery-cell:before {
  display: none;
}

.projects .nobuton .flickity-prev-next-button:disabled {
  opacity: 0;
}

/* ============= gallery section ================ */

.gallerys {
  margin: 3rem auto 2rem;
  text-align: center;
}
  

.gallerys .link{
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #79d7e5;
  border: 2px solid #79d7e5;
}
  

.gallerys .link:hover{
  background-color: #79d7e5;
  color: black;
}
  
.gallerys h1 {
  margin: 2rem auto;
  color: grey;
}

.gallerys .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 90%;
  margin: 0 auto 2rem;
  justify-content: center;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: white;
}
  

.gallerys .row .col{
  -ms-flex: 24%; /* IE10 */
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;   
}
  

.gallerys .row .col img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;  
  transition: 0.3s;     
}
  
  

.gallerys .row .col img:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);      
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 75%;
  max-width: 700px;
}
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: auto;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 8rem;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* =================== contact form ======================= */
  .contact{
      position: relative;
     background-image: url('/img/room-design.jpg');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     max-height: 100%;

  }
  .contact .darker{
    background-color: rgba(0, 0, 0, 0.548);
    padding: 3rem;
    text-align: center;
  }
  .contact .h1{
    margin: 0 auto;
    color: rgb(255, 255, 255);
  }

 .contact #container{
   width: 90%;
   padding: 2rem 1rem;
   margin: 2rem;
   background-color: #067e9066;
   border: 2px solid #b6cfd3;
}
  
 .contact #container .form{
   width: 100%;
   display: table;
   text-align: center;
   margin: 0  0 1rem;
   padding: 2rem 1.5rem;
   border-bottom: 2px solid white;
 }
  
  
 .contact #container .form .row{
  float: left;
  width: 50%;
 }
  
.contact input[type=text], .contact select, .contact textarea {
    width: 90%;
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    resize: vertical;
    outline: none;
  }
  
.contact input[type=text]:focus, .contact select:focus, .contact textarea:focus {
    outline: #58cddf;
  }
  
  
.contact input[type=text]::placeholder, .contact select::placeholder, .contact textarea::placeholder {
    color: #585858;
  }
  
  .contact label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #ffffff;
  }
  
  .contact input[type=submit] {
    background-color: rgb(243, 243, 243);
    color: #000000;
    margin-top: 3rem;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  
  .contact textarea {
    height: 120px !important;
  }
  
  .contact input[type=submit]:hover {
    background-color: #ffffff;
    color: #58cddf;
  }
  
  .contact .col-25 {
    width: 100%;
    margin-top: 6px;
    text-align: left;
  }
  
  .contact .col-75 {
    width: 100%;
    text-align: left;
  }
  
  .contact .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    /* .contact .col-25, .contact .col-75, .contact input[type=submit] {
      width: 100%;
      margin-top: 0;
    } */
  }


  .contact .sec-two {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
    padding: 2rem 1.5rem 0;
    color: white;
  }
  .contact .sec-two .col {
    width: 50%;
  }

  .contact .sec-two .col div{
    margin-bottom: 3rem;
    display: flex;
    width: 90%;
    text-align: center;
  }
  .contact .sec-two .one{
    color: white;
    width: 30%;
    background-color: rgb(1, 1, 48);
    padding: 0.5rem 0;
    margin-right: 0.8rem;
  }

  .contact .sec-two .col.first .two{
    padding: 0.5rem 0;
    background-color: #eee;
    color: black;
    width: 70%;
  }

  .contact .sec-two iframe{
      width: 100%;
      min-height: 350px;
      margin: 2rem auto 0;
  }



  /* =============================================== footer ============================== */

footer .container {
    padding: 3rem 0;
    margin: 3rem 3rem 0;
}

footer .row {
    display: flex;
    justify-content: space-evenly;
}

footer .row .col-3 {
    width: 33%;
    padding: 0 2rem;
    text-align: left;
}

footer .row .col-3.social1{
    width: 45%;
}


footer .row .col-3.social1 h3{
    margin-bottom: 1rem;
}


footer .row .col-3.social1 p{
    margin-bottom: 1rem;
}


footer .row .col-3 ul{
    padding: 0;
}


footer .row .col-3 h3 {
    color: #58cddf;
    font-size: 1.4rem;
}

footer .row .col-3 ul li {
    list-style-type: none;
}

footer .social1 p {
    text-align: left;
    line-height: 30px;
    color: #6c757d;
}

footer .social {
    display: flex;
}

footer .social li {
    margin: 15px;
}

footer .info li {
    color: #6c757d;
    margin: 15px auto;
}

footer .info li p {
    text-align: left;
    color: #6c757d;
}

footer .quick-links li {
    margin: 15px 0;
}

footer .quick-links li a {
    font-size: 18px;
    color: #58cddf;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .copyright p {
    margin: 50px auto 20px;
    color: #6c757d;
}

footer .copyright p span {
    color: #58cddf;
}


  /* =============================================== query ============================== */

@media screen and (min-width: 960px){
  #background-video {
    max-height: 800px;
  }
  .banner .row {
      max-height: 800px;
  }
  
  .inset {
      padding: 96px 48px;
      width: 90%;
  }
  .inset .Content {
    padding: 64px 60px;
    max-width: 400px;
    min-width: 328px;
  }
  .inset .Content:before {
    border-width: 10px;
  }

  .inset .Quotation:before {
    font-size: 72px;
  }

  .inset .Testifier {
    max-width: 188px;
    margin-top: 20px;
  }

  .inset .Image {
    transform: translateX(-40px) translateY(40px);
    flex: 1 1;
    height: auto;
    padding-top: 0;
  }

  .inset .Quotation:before {
      font-size: 72px;
  }
}
@media screen and (max-height: 540px) {
  .banner .row .centering{
    top: 55%;
  }
  
  .banner .row .title-banner h3 {
    font-size: 2rem;
  }
  
  
  .banner .row .title-banner h2 {
    font-size: 4rem;
  }

  .banner .row .title-banner .anime span {
    width: 80px;
    height: 80px;
    font-size: 1rem;
}
  
}
@media screen and (max-width: 959px){
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background: white;
    text-align: center;
    transition: all .5s;
    z-index: 9;
  }
  nav ul li {
    display: block !important;
    width: 7rem !important;
    margin: 15px auto !important;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: rgba(1, 156, 27, 0.589);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .sc-header .second-sc-header {
    display: table;
}
  .sc-header .socials, footer .socials {
    display: none;
  }
  .inset{
    padding: 2rem 1.8rem;
  }
  .inset .Container {
      height: auto;
      flex-direction: column;
  }
  .inset h2:first-child {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 30px;
    padding: 0;
  }
  .Container {
    height: auto;
    flex-direction: column;
  }
  .headline {
    font-size: 26px;
  }
  .inset .Image {
    transform: translateY(-32px) !important;
  }

  .under-banner .row img {
    max-width: 250px;
  }
  .under-banner .container {
    min-height: 500px;
  }
  .under-banner .inder-img span {
    font-size: 1.5rem;
  }
  .banner .row .title-banner h3 {
    font-size: 2rem;
  }
  .banner .row .title-banner h2 {
    font-size: 4rem;
  }
  .banner .box {
    right: 5%;
  }
  .projects {
    max-height: 100%;
  }
  .projects .container {
    width: 80%;
    margin: 2rem auto;
  }
  .projects .children {
    flex-direction: column;
  }
  .projects .portfolio {
    width: 100%;
  }
  .projects .description {
    width: 100%;
  }
  .contact .darker {
    padding: 3rem 1rem;
  }
}


@media only screen and (min-width: 850px){
  .nav ul li {
      font-size: 0.7rem;
      width: 5rem;
      margin-right: 0.3rem;
  }
  .sc-header .socials li i {
      font-size: 1rem;
  }
  .under-banner .row img {
      max-width: 350px;
      /* box-shadow: 6px 12px 20px 0 rgb(82 82 82); */
  }
}

  
@media screen and (max-width: 800px) {
  .gallery .row .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  footer .row {
    flex-direction: column;
  }
  footer .row .col-3 {
    width: 100% !important;
    margin: 1.5rem;
  }
  footer .row .col-3 .quick-links{
    display: flex;
    justify-content: space-evenly;
  }
  .banner .row .title-banner {
    width: 100%;
    height: 60vh;
  }
  .banner .row .title-banner h3 {
    font-size: 1.6rem;
  }
  .banner .row .title-banner h2 {
    font-size: 3.5rem;
  }
  .scale-it {
    width: 80px !important;
    height: 80px !important;
    font-size: 0.9rem !important;
    transform: scale(1) !important;
  }
  .banner .box {
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30vh;
}
}
  
@media screen and (max-width: 750px) {
  #background-video { display: none; }
  .banner .row {
    height: 90vh;
    width: 100%;
    background-image: url('/img/bgd2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .offering .row {
    flex-direction: column;
  }
  .offering .row .col {
    width: 80%;
    margin: 0 auto;
  }
  .offering .row .col h2 {
    font-size: 1.3rem;
  }
  .offering .row .col p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .under-banner {
    height: auto;
    max-height: 100%;
  }
  
  .under-banner .inder-img {
    display: none;
  }
  .under-banner .row {
    flex-direction: column;
    gap: 0rem;
  }
  .under-banner .row div{
    padding-top: 2rem;
  }
  .under-banner .row div img{
    max-width: 70%;
    margin-bottom: 2rem;
  }
}

  
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  /* .nav ul li {
      font-size: 0.7rem;
      width: 5rem;
  } */
}


@media screen and (max-width: 600px) {
  .gallery .row .col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .contact .darker {
    padding: 3rem 0;
  }
  .contact #container {
    width: 100%;
    margin: 1rem auto;
  }
  .contact #container .form {
    padding: 2rem 0.5rem;
  }
  .contact #container .form .row {
    padding-right: 0.5rem;
}
  .contact .sec-two {
    flex-direction: column;
  }
  .contact .sec-two .col {
    width: 90%;
  }
  .contact input[type=text], .contact select, .contact textarea {
    width: 100%;
}
  .projects .container {
    width: 95%;
  }
  .projects .description .tags {
    display: table;
  }
}


@media screen and (max-width: 450px) {
  
  .banner-content .img-logo {
    display: none;
  }
  
  .banner .row .title-banner h3 {
    font-size: 1.3rem;
  }
  .banner .row .title-banner h2 {
    font-size: 3rem;
  }
 
  .scale-it {
    width: 60px !important;
    height: 60px !important;
    font-size: 0.8rem !important;
  }
  .banner .container {
    margin-top: 4rem;
  }
  .banner .box {
    width: 90%;
    height: 35vh;
  }

  .banner .box .content .centering {
    text-align: center;
  }

  .banner .box .content .centering h3 {
    font-size: 1.3rem;
    margin: 0 auto 0.3rem;
  }

  .banner .box .content .centering p {
    font-size: 0.9rem;
  }
  .banner .box .content .cnt {
    margin-top: 1rem;
  }
  .inset {
    padding: 2rem 1rem;
  }
  .inset .Content {
    padding: 40px 20px;
  }
  .offering h1 {
    font-size: 2.3rem;
  }

  .offering #typer {
    font-size: 2rem;
  }

  .offering .row {
    width: 100%;
  }
  .offering .row .col {
    width: 95%;
  }
  .under-banner .container {
    border: 15px solid #b7b8b3;
  }
  .projects .children {
    margin: 40px 0;
  }
  .projects .description {
    padding: 10px;
    max-height: 100%;
  }
  .contact #container .form {
    padding: 2rem 0;
  }
  .contact .sec-two {
    padding: 2rem 0 0;
  }
  .contact .sec-two .col {
    width: 100%;
  }
  .contact .sec-two .col div {
    width: 100%;
  }
  footer .container {
    padding: 2rem 0;
    margin: 3rem 0 0;
  }
  footer .row .col-3 {
    width: 100% !important;
    margin: 1.5rem 0;
  }
  footer .copyright p {
    padding: 0 2rem;
  }
}



@media only screen and (min-width: 1000px){
  
    
}
