@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html {
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Khula', Helvetica , Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#loader {
  background-image: url(../assets/img/phone-bgd.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#loader .darker {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
}
#loader .darker .centering {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
#loader .darker .centering h1 {
  font-size: 80px;
  font-size: 5rem;
  padding: 16px 32px;
  padding: 1rem 2rem;
  background: #000;
  display: table;
  color: #fff;
  mix-blend-mode: multiply;
}
#loader .darker .centering .blacker {
  margin: auto;
  background: -webkit-linear-gradient(#22bcb4, #22bcb4) #fff no-repeat 0 0;
  background: linear-gradient(#22bcb4, #22bcb4) #fff no-repeat 0 0;
  background-size: 0 100%;
  -webkit-animation: colorIt 3s linear 1 forwards;
  animation: colorIt 3s linear 1 forwards;
}
#loader .darker .centering .blacker.ar {
  background: -webkit-linear-gradient(#22bcb4, #22bcb4) #fff no-repeat top right;
  background: linear-gradient(#22bcb4, #22bcb4) #fff no-repeat top right;
  background-size: 0 100%;
  -webkit-animation: colorIt 3s linear 1 forwards;
  animation: colorIt 3s linear 1 forwards;
}
#loader .darker .centering p {
  color: #22bcb4;
  font-size: 32px;
  font-size: 2rem;
}
.hide-it {
  display: none;
}
@-webkit-keyframes colorIt {
  to {
    background-size: 100% 100%;
  }
}
@keyframes colorIt {
  to {
    background-size: 100% 100%;
  }
}
footer,
header,
section {
  max-width: 1300px;
  margin: auto;
  background-color: #fff;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
.form .err {
  font-size: 8px;
  font-size: 0.5rem;
  color: #ff3535;
}
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.remplace {
  width: 100%;
  height: 80px;
}
.whatsapp {
  position: fixed;
  width: 70px;
  height: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 16px;
  bottom: 1rem;
  right: 16px;
  right: 1rem;
  font-size: 64px;
  font-size: 4rem;
  color: #fff;
  border-radius: 50%;
  background-color: #25d366;
  z-index: 9;
}
.whatsapp:focus {
  color: #fff;
  background-color: #25d366;
}
.whatsapp:hover .span-wts {
  border: 2px solid #25d366;
  border-radius: 15px;
  color: #000;
  font-size: 19.2px;
  font-size: 1.2rem;
  padding: 10px;
  z-index: 100;
  background-color: #fff;
  right: 72px;
  right: 4.5rem;
  width: 260px;
  position: absolute;
  bottom: 16px;
  bottom: 1rem;
  text-decoration: none;
}
.whatsapp .span-wts {
  display: none;
}
.whatsapp i {
  font-size: 48px;
  font-size: 3rem;
}
.hide-it2 {
  display: none !important;
}
.inter-link{
  color: #22bcb4;
}

header {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sc-header .second-sc-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.sc-header .socials,
footer .socials, .btm-links .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sc-header .socials li,
footer .socials li,
.btm-links .socials li{
  display: inline-block;
}
.sc-header .socials li a,
footer .socials li a,
.btm-links .socials li a{
  color: #22bcb4;
}
.sc-header .socials li i,
footer .socials li i,
.btm-links .socials li i {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 4.8px;
  margin: 0 0.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sc-header .socials li:hover i,
footer .socials li:hover i,
.btm-links .socials li:hover i {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
label.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 48px;
  margin: 0 0 0 3rem;
  position: relative;
  float: left;
}
label.logo img {
  max-width: 200px;
  margin-top: 12.8px;
  margin-top: 0.8rem;
}
.nav ul {
  float: right;
  margin-right: 20px;
  padding-top: 4.8px;
  padding-top: 0.3rem;
}
.nav ul li {
  display: inline-block;
  margin: 0 5px;
  width: 96px;
  width: 6rem;
  padding: 8px 0;
  padding: 0.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #22bcb4;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--m) - 1) * 25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--m) - 1) * 0.1s);
  transition-delay: calc((var(--m) - 1) * 0.1s);
  z-index: -1;
}
.nav ul li:hover span {
  -webkit-transform: translateY(0) scale(2);
  transform: translateY(0) scale(2);
}
.nav ul li span:nth-child(1) {
  --m: 1;
}
.nav ul li span:nth-child(2) {
  --m: 2;
}
.nav ul li span:nth-child(3) {
  --m: 3;
}
.nav ul li span:nth-child(4) {
  --m: 4;
}
.nav ul li a {
  font-family: 'Poppins', sans-serif;
  color: rgb(97, 103, 111);
  font-weight: 600;
  font-size: 12.8px;
  font-size: 0.8rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.nav ul li:hover a {
  color: #fff;
}
.toggle-btn {
  color: #22bcb4;
  font-size: 30px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  background: 0 0;
  border: none;
  display: none;
}

.lang.one{
  display: none;
}
.lang.two{
  display: block;
}
.lang {
  position: relative;
  display: inline-block;
}
.lang a {
  color: #000;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lang a span {
  color: #6b6b6b;
  margin-right: 4.8px;
  margin-right: 0.3rem;
}

.under-header {
  height: auto;
  width: 100%;
}
.carousel-container {
  width: 100%;
  height: auto;
}
.carousel {
  height: 90vh;
  min-height: 450px;
  max-height: 550px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  list-style: none;
}
.carousel__activator,
.carousel__controls {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(1):checked
  ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(1):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(1) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(2):checked
  ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(2):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(2) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(3):checked
  ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(3):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(3) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(4):checked
  ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(4):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(4) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.carousel__activator:nth-of-type(5):checked
  ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__activator:nth-of-type(5):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(5) {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__control {
  height: 50px;
  width: 50px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 8px 8px 0 0;
  border-style: solid;
  border-color: #22bcb4;
  opacity: 0.55;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.carousel__control--backward {
  left: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.carousel-container {
  display: inline-block;
}
.carousel__slide {
  overflow: hidden;
}
.carousel__slide h1 {
  display: none;
}
.banner.carousel__slide .centering2 {
  width: 50%;
  padding: 16px 0 0 96px;
  padding: 1rem 0 0 6rem;
}
.banner.carousel__slide .centering2 h1{
  display: block;
  color: white;
  font-size: 56px;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: 'Roboto';
}
.carousel__indicators {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.carousel--thumb .carousel__indicator {
  height: 15px;
  width: 15px;
}
.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(100%);
}
.carousel__slide .slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 32px;
  padding: 2rem 2rem;
  background: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(0, 0, 0, 1) 100%
  );
}
.carousel__slide .slide-content h2 {
  color: #22bcb4;
  margin-bottom: 4.8px;
  margin-bottom: 0.3rem;
}
.carousel__slide .slide-content p {
  color: #f3f3f3;
}
.main-wrapper{
  display: block;
  width: 40%;
  margin-left: 32px;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
  .main-wrapper .video-opacity{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  .title-banner .main-wrapper .player-container{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
#background-video {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.banner .row {
  height: 100%;
  width: 100%;
}
.banner-content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.897);
}
.banner .row .title-banner {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner .row .title-banner h3 {
  font-size: 19.2px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
}
.banner .row .title-banner h2 {
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
}
.banner .row .title-banner .anime {
  margin: 16px auto;
  margin: 1rem auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}
.banner .row .title-banner .anime span {
  color: #fff;
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 16px;
  margin: 0 1rem;
  font-size: 0;
  font-size: 0px;
  font-size: 0rem;
  font-weight: 700;
  box-shadow: 1px 1px 10px 1px #22bcb4;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.scale-it {
  width: 60px !important;
  height: 60px !important;
  font-size: 8px !important;
  font-size: 0.5rem !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.banner .row .title-banner h2 .blue {
  color: #22bcb4;
}
.h2-phone{
  display: none;
}
.inset {
  max-height: 100%;
}
.inset .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 64px;
  margin: 0 auto 4rem;
}
.inset .col-1 div{
  width: 50%;
}
.inset .col-1 div:last-child{
  padding: 0 32px;
  padding: 0 2rem;
}
.inset.why-us .col-1 .ft-div{
  width: 40%;
}
.inset.why-us .col-1 .sd-div{
  padding: 16px 32px;
  padding: 1rem 2rem;
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #22bcb4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inset.why-us .col-1 .sd-div h2{
  font-size: 24px;
  margin-bottom: 0;
  padding: 0;
}
.inset.why-us .col-1 .sd-div .quote{
  margin: 16px auto 0;
  margin: 1rem auto 0;
  color: #ffffff;
  padding: 16px 24px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  position: relative;	
  -webkit-transition: all 0.5s;	
  transition: all 0.5s;
}
/* test */
.inset.why-us .col-1 .sd-div .quote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.232);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inset.why-us .col-1 .sd-div .quote:hover:before {
  opacity: 0 ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
}
.inset.why-us .col-1 .sd-div .quote:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid rgb(255, 255, 255);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}
.inset.why-us .col-1 .sd-div .quote:hover:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}
/* end test */

.inset .col-1 div img{
  width: 100%;
  height: 100%;
}
.inset .col-1 h1 {
  font-size: 28.8px;
  font-size: 1.8rem;
  color: #22bcb4;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
}
.inset .col-1 p {
  color: #52696a;
  letter-spacing: 2x;
  font-size: 17.6px;
  font-size: 1.1rem;
  text-align: justify;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
  letter-spacing: 1px;
  line-height: 28px;
}
.inset h2:first-child {
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0 48px;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  text-align: center;
}
.inset .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-width: 1126px;
  margin: 64px auto;
  margin: 4rem auto;
}
.inset .Content {
  padding: 64px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
}
.inset .Content:before {
  content: "";
  border: 6px solid #22bcb4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.inset .Quotation:before {
  content: "“";
  display: block;
  font-size: 64px;
  margin-bottom: -20px;
  line-height: 1;
}
.inset .headline.Quotation {
  font-size: 36px;
  letter-spacing: -1.5px;
  font-weight: 700;
}
.inset .Testifier strong {
  font-weight: 700;
}
.inset .Content .Link {
  z-index: 10;
  color: #22bcb4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 2px;
  text-decoration: none;
  letter-spacing: -0.5px;
  border-bottom: 2px solid #22bcb4;
}
.inset .image {
  position: relative;
  width: 100%;
  margin-left: -30px;
  margin-right: -10px;
  height: 100%;
  padding-top: 51%;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  box-shadow: 0 0 6px #777;
}
.inset .image.ar {
  margin-left: -10px;
  margin-right: -30px;
}
.projects {
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.projects h1 {
  width: 70%;
  margin: 32px auto 0;
  margin: 2rem auto 0;
}
.projects .container {
  display: -ms-grid;
  display: grid;
}
.projects .row {
  width: 90%;
  margin: 32px auto 0;
  margin: 2rem auto 0;
  padding: 0 0 48px;
  padding: 0 0 3rem;
}
.projects .row a {
  width: 29%;
  height: 300px;
  float: left;
  margin: 32px 16px;
  margin: 2rem 1rem;
}
.projects .row a .spn{
  color: gray;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 700;
}
.projects .row a .col {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 auto 8px;
  margin: 0 auto 0.5rem;  
}
.projects .row a:hover .col {
  background-size: 200% !important;
}
.projects .row a .col .back {
  height: 100%;
  width: 100%;
  background-color: rgba(161, 161, 161, 0.109);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 80px 16px 0;
  padding: 5rem 1rem 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.projects .row a .col .back:hover {
  background-color: #161a19c5;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.projects .row a .col .back span {
  color: #e3ebeb;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  letter-spacing: 1px;
}
.projects .row a .col .back i {
  color: white;
  font-size: 20.8px;
  font-size: 1.3rem;
  text-align: left;
  margin-left: 16px;
  margin-left: 1rem;
  background-color: #32dad1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9.6px;
  padding: 0.6rem;
  border-radius: 50%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.projects .row a .col .back i:hover {
  color: #32dad1;
  background-color: white;
}

.projects .row a .col .back span:last-child {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border: 1px solid #22bcb4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4.8px 11.2px;
  padding: 0.3rem 0.7rem;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}
.projects .row a:hover .col .back span:last-child {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.projects .row .div-show-btn {
  width: 100%;
  padding: 32px 0;
  padding: 2rem 0;
  float: left;
}
.projects .row .div-show-btn .show-more {
  background-color: transparent;
  border: none;
  color: #22bcb4;
  font-size: 20.8px;
  font-size: 1.3rem;
  border-bottom: 2px solid;
  cursor: pointer;
}
.projects .row .div-show-btn .show-more:hover {
  color: #03534f;
}
#more {
  display: none;
}
.services {
  width: 100%;
  height: auto;
  margin: 32px auto 0;
  margin: 2rem auto 0;
  padding: 64px 0;
  padding: 4rem 0;
}
.services .container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.services .container .col-2 .cols {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.services .container .col-2 h1 {
  font-size: 35.2px;
  font-size: 2.2rem;
  margin: 0;
}
.services .container .col-2 .col {
  width: 30%;
  height: auto;
  margin: 16px 8px;
  margin: 1rem 0.5rem;
  padding: 16px;
  padding: 1rem;
}
.services .container .col-2 .col h2 {
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 0 8px;
  margin: 0 0 0.5rem;
  font-weight: 700;
}
.services .container .col-2 .col h2 i {
  margin-right: 8px;
  margin-right: 0.5rem;
  color: #22bcb4;
}
.services .container .col-2 .col .padd {
  padding-left: 32px;
  padding-left: 2rem;
}
.services .container .col-2 .col .padd p {
  color: #585858;
  font-size: 16px;
  font-size: 1rem;
}
.offering {
  text-align: center;
  margin: 32px auto;
  margin: 2rem auto;
  max-height: 100%;
}
.offering .container {
  background-image: url(../assets/img/kitchen1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.offering .container .darker {
  background-color: rgba(0, 0, 0, 0.76);
  padding: 48px 0;
  padding: 3rem 0;
  text-align: center;
}
.offering h1 {
  margin: 32px auto 8px;
  margin: 2rem auto 0.5rem;
  font-size: 48px;
  font-size: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ebebeb;
  border-bottom: 3px solid #22bcb4;
}
.offering #typer {
  color: #22bcb4;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}
.offering .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 32px auto;
  margin: 2rem auto;
  width: 90%;
}
.offering .row .col {
  width: 32%;
  padding: 16px;
  padding: 1rem;
  color: #eefafb;
  text-align: left;
}
.offering .row .col h2 {
  color: #e7e701;
  margin-bottom: 11.2px;
  margin-bottom: 0.7rem;
  font-size: 19.2px;
  font-size: 1.2rem;
}
.offering .row .col span {
  color: #22bcb4;
}
.offering .row .col p {
  letter-spacing: 1px;
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 1.2;
  margin-bottom: 11.2px;
  margin-bottom: 0.7rem;
}
.offering .row .col img {
  width: 100%;
}
.contact {
  position: relative;
  max-height: 100%;
}
.contact .darker {
  padding: 48px;
  padding: 3rem;
}
.contact .h1 {
  margin: 0 auto;
  color: #222;
}
.contact #container {
  width: 100%;
}
.contact #container .h1 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.contact #container .p {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.contact #container .form {
  width: 65%;
  float: left;
  display: table;
  text-align: center;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  padding: 32px 24px 32px 0;
  padding: 2rem 1.5rem 2rem 0;
}
.contact #container .help {
  width: 35%;
  float: right;
  padding: 40px 24px;
  padding: 2.5rem 1.5rem;
  margin: 44.8px auto;
  margin: 2.8rem auto;
  background-color: aliceblue;
}
.contact #container .help h3{
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.contact #container .help p{
  letter-spacing: 1px;
  line-height: 1.4;
}
.contact #container .form .row {
  float: left;
  width: 50%;
  margin: 16px auto;
  margin: 1rem auto;
  padding: 0 16px 0 0;
  padding: 0 1rem 0 0;
}
.contact #container .form .row.sbmt,
.contact #container .form .row.sbjt {
  width: 100%;
}
#contact_form_succ {
  color: #19e919;
  border: 2px solid #19e919;
  background-color: white;
  font-size: 22.4px;
  font-size: 1.4rem;
  display: none;
  margin: 16px auto;
  margin: 1rem auto;
}
#contact_form_err {
  color: #f81b39;
  border: 2px solid #f81b39;
  background-color: white;
  font-size: 22.4px;
  font-size: 1.4rem;
  display: none;
  margin: 16px auto;
  margin: 1rem auto;
}
.contact input[type="text"],
.contact select,
.contact textarea {
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 12px 8px;
  border: 1px solid #aabbc2;;
  background-color: transparent;
  border-radius: 4px;
  color: #000;
  resize: vertical;
}
.contact select.knd{
  padding: 8px 8px;
  padding: 0.5rem 8px;
}
.contact input[type="text"]:focus,
.contact select:focus,
.contact textarea:focus {
  outline: #22bcb4;
}
.contact input[type="text"]::-webkit-input-placeholder,
.contact select::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #7c888d;
}
.contact input[type="text"]::-moz-placeholder,
.contact select::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: #7c888d;
}
.contact input[type="text"]:-ms-input-placeholder,
.contact select:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #7c888d;
}
.contact input[type="text"]::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #7c888d;
}
.contact input[type="text"]::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: #7c888d;
}
.contact input[type="text"]:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #7c888d;
}
.contact input[type="text"]::placeholder,
.contact textarea::placeholder {
  color: #7c888d;
}

.contact input[type="submit"] {
  background-color: transparent;
  color: #22bcb4;
  padding: 12px 20px;
  border: 1px solid #22bcb4;  
  border-radius: 4px;
  cursor: pointer;
  float: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact textarea {
  height: 120px !important;
}
.contact input[type="submit"]:hover {
  background-color: #22bcb4;
  color: white;
}
.contact .col-75 {
  width: 100%;
  text-align: left;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
.sec-two {
  width: 100%;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  padding: 32px 24px 0;
  padding: 2rem 1.5rem 0;
  color: #fff;
}
.sec-two h2 {
  color: #000;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.sec-two .col {
  width: 100%;
}

.sec-two iframe {
  width: 100%;
  min-height: 350px;
  margin: 32px auto 0;
  margin: 2rem auto 0;
}
#map .gm-style div[role="img"][title]:hover:after {
  width: 93px !important;
  height: 99px !important;
  font-size: 64px;
  font-size: 4rem;
}

.btm-links{
  display: block;
  background-color: #25d2c9;
  padding: 16px 0;
  padding: 1rem 0;
}
.btm-links .socials li a {
  color: white;
}
.btm-links .socials li a i {
  font-size: 27.2px;
  font-size: 1.7rem;
  margin: 0 12.8px;
  margin: 0 0.8rem;
}
footer{
  background-color: #031b1a;
}
footer .container {
  padding: 48px 0;
  padding: 3rem 0;
  margin: 0 48px;
  margin: 0 3rem;
}
footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
footer .row .col-3 {
  width: 33%;
  padding: 0 32px;
  padding: 0 2rem;
  text-align: left;
}
footer .row .col-3.social1 {
  width: 45%;
}
footer .row .col-3.social1 h3 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
footer .row .col-3.social1 p {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
footer .row .col-3 ul {
  padding: 0;
}
footer .row .col-3 h3 {
  color: #eee;
  font-size: 22.4px;
  font-size: 1.4rem;
}
footer .row .col-3 ul li {
  list-style-type: none;
}
footer .social1 p {
  text-align: left;
  line-height: 30px;
  color: #eee;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social li {
  margin: 15px;
}
footer .info li {
  color: #eee;
  margin: 15px auto;
}
footer .info li p {
  text-align: left;
  color: #eee;
}
footer .quick-links li {
  margin: 15px 0;
}
footer .quick-links li a {
  font-size: 18px;
  color: #eee;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
footer .copyright h1, footer .copyright h3 {
  display: none;
}
footer .copyright p {
  margin: 50px auto 20px;
  color: #eee;
}
footer .copyright p span {
  color: #eee;
  font-weight: 700;
}
.banner-single {
  width: 100%;
  min-height: auto;
}
.banner-single .container {
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-single .container .darker {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  text-align: center;
}
.banner-single .container h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}
.inset.single {
  width: 60%;
  padding: 10px 0 40px;
  float: none !important;
}
.container.contact {
  padding: 64px 32px;
  padding: 4rem 2rem;
  background: rgb(210,210,210);
  background: -webkit-linear-gradient(139deg, rgba(210,210,210,0.7734421520698361) 22%, rgba(44,201,194,0.5539299569478848) 65%);
  background: linear-gradient(311deg, rgba(210,210,210,0.7734421520698361) 22%, rgba(44,201,194,0.5539299569478848) 65%);
}

.inset-description {
  margin: 32px auto 0;
  margin: 2rem auto 0;
  width: 60%;
}
.inset-description .first-info {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.info-img{
  width: 100%;
}
.designer{
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}
.designer img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 32px;
  margin-right: 2rem;
  padding: 3.2px 0;
  padding: 0.2rem 0;
  border: 3px solid #22bcb42c;
}
.designer h5{
  font-size: 16px;
  font-size: 1rem;
  color: #717171;
}
.inset-description .first-info h1 {
  color: #636363;
  line-height: 1.5;
  font-size: 43.2px;
  font-size: 2.7rem;
  font-weight: bold;
}
.inset-description .first-info p {
  text-align: justify;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(49, 67, 81);
  border-left: 4px solid #636363;
  padding-left: 16px;
  padding-left: 1rem;
}
.inset-description .col.info h2 {
  font-size: 32px;
  font-size: 2rem;
  padding: 0;
  margin: 32px 0 24px;
  margin: 2rem 0 1.5rem;
  color: #636363;
}
.inset-description .col.info p {
  text-align: justify;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(49, 67, 81);
}

.inset-description .col.info ul {
  list-style-type: disc;
  padding: 0 0 32px;
  padding: 0 0 2rem;
}
.inset-description .col.info ul li {
  margin: 0 0 16px;
  margin: 0 0 1rem;
}
.inset-description .col.info ul li p {
  text-align: justify;
  margin: 0 0 3px;
}
.inset-description .col.info ol {
  list-style-type: disc;
  padding: 0 0 32px;
  padding: 0 0 2rem;
}
.inset-description .col.info ol li{
  margin: 0 0 16px;
  margin: 0 0 1rem;
}
.inset-description .col.info ol h3{
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 9.6px;
  margin-bottom: 0.6rem;
  color: #636363;
}
.inset.single .container .col {
  width: 100%;
  min-height: 500px;
  margin: 32px auto;
  margin: 2rem auto;
}
.inset.single .container .col h1 {
  color: #595959;
}
.inset.single .container .col h2 {
  color: #22bcb5;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.inset.single .gallery,
.testmonial .gallery {
  width: 100%;
}
.inset.single .gallery-cell,
.testmonial .gallery-cell {
  width: 100%;
  height: 500px;
  counter-increment: gallery-cell;
  margin: 0 5px;
}
.inset.single .gallery-cell:before,
.testmonial .gallery-cell:before {
  display: none;
}
.inset.single .nobuton .flickity-prev-next-button:disabled,
.testmonial .nobuton .flickity-prev-next-button:disabled {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.inset.single .wrapper, 
.title-banner .wrapper {
  width: 100%;
  margin: 32px auto;
  margin: 2rem auto;
  background-color: transparent;
}
.inset.single .video, 
.title-banner .video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #01011d;
}
.playing {
  background-color: #ddd;
}
.inset.single .description, 
.title-banner .description {
  font-size: 10px;
  line-height: 20px;
  width: auto;
  color: #fff;
}
.inset.single .title, 
.title-banner .title {
  font-size: 26px;
  margin: 0;
  color: #fff;
}
.inset.single .button, 
.title-banner .button {
  width: 8%;
  height: 42px;
  border: none;
  background-color: transparent;
  background-repeat: none;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
  outline: 0;
}
.inset.single .expand{
  width: 90%;
}
.title-banner .expand-container .button{
  width: 80%;
}
.inset.single .button:active, 
.title-banner .button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.inset.single .backward, 
.title-banner .backward {
  background-image: url(../assets/icons/backward.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .expand, 
.title-banner .expand {
  background-image: url(../assets/icons/expandd.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  margin-right: 0;
}
.inset.single .forward, 
.title-banner .forward {
  background-image: url(../assets/icons/forward.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .pause, 
.title-banner .pause {
  background-image: url(../assets/icons/pause.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .play, 
.title-banner .play {
  background-image: url(../assets/icons/play.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .reduce, 
.title-banner .reduce {
  background-image: url(../assets/icons/reduce.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  margin-right: 0;
}
.inset.single .silence, 
.title-banner .silence {
  background-image: url(../assets/icons/silence.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .volume, 
.title-banner .volume {
  background-image: url(../assets/icons/volume.svg);
  background-size: 50%;
  background-repeat: no-repeat;
}
.inset.single .player, 
.title-banner .player {
  height: 100%;
  width: 100%;
  position: relative;
}
.inset.single .player-overlay, 
.title-banner .player-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) -22.28%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -22.28%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 1;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.inset.single .content, 
.title-banner .content {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}
.inset.single .information-container, 
.title-banner .information-container {
  width: 100%;
  height: 80%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inset.single .player-container, 
.title-banner .player-container {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #6b6b6bab;
  height: 20%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.inset.single .player-progress-bar, 
.title-banner .player-progress-bar {
  width: 100%;
}
.inset.single .video-progress, 
.title-banner .video-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #7c7c7c;
  cursor: pointer;
}
.inset.single .video-progress-filled, 
.title-banner .video-progress-filled {
  width: 0;
  background-color: #fff;
}
.inset.single .player-controls, 
.title-banner .player-controls {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.inset.single .player-buttons, 
.title-banner .player-buttons {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.inset.single .volume-progress, 
.title-banner .volume-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #7c7c7c;
  cursor: pointer;
}
.inset.single .volume-progress-filled, 
.title-banner .volume-progress-filled {
  width: 0;
  background-color: #fff;
}
.inset.single .time-container, 
.title-banner .time-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px;
}
.inset.single .time-container p, 
.title-banner .time-container p {
  color: #fff;
}
.inset.single .current-time, 
.title-banner .current-time {
  width: 40px;
}
.inset.single .duration-video, 
.title-banner .duration-video {
  width: 40px;
}
.inset.single .time-separator, 
.title-banner .time-separator {
  margin: 0 10px 0 5px;
}
.inset.single .expand-container, 
.title-banner .expand-container {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flickity-page-dots{
  display: none;
}
.wrapper .wrapper-play {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.wrapper .wrapper-play .circle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #32dad1;
  margin: auto;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.wrapper .wrapper-play .circle.pulse {
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  background-color: #5ffaf2;
}
.wrapper .wrapper-play svg {
  fill: #22bcb4;
  stroke: #22bcb4;
  stroke-linejoin: round;
  stroke-width: 5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .wrapper-play svg:hover {
  cursor: pointer;
  fill: #10a79f;
  stroke: #10a79f;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.inset.single .link-chalet span {
  font-size: 19.2px;
  font-size: 1.2rem;
}
.inset.single .link-chalet a {
  color: #22bcb5;
  font-size: 20px;
}
.inset.single .link-chalet a:hover {
  color: #050505;
}
.inset.single .info {
  margin: 64px auto;
  margin: 4rem auto;
  text-align: center;
}
.inset.single .info h2 {
  font-size: 50px;
  line-height: 60px;
  color: #312f2f;
  text-align: center;
  padding: 0;
  font-weight: bold;
}
.inset.single .info h3 {
  color: rgb(63, 63, 63);
  font-size: 32px;
  font-size: 2rem;
}
.inset.single .info .contact-us {
  margin: 32px;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inset.single .info .contact-us a {
  color: black;
  min-width: 140px;
  text-align: center;
  border: 2px solid #22bcb5;
  border-radius: 6px;
  padding: 12.8px 16px;
  padding: 0.8rem 1rem;
  margin: 0 16px;
  margin: 0 1rem;
  background-color: #2fe8df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inset.single .info .contact-us a i{
    margin-left: 8px;
    margin-left: 0.5rem;
}
.inset.single .info .contact-us a:hover{
    background-color: white;
}
/* #more {display: none;} */
#myBtn{
  border: none;
  background: none;
  color: #22bcb5;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-top: 9.6px;
  margin-top: 0.6rem;
  cursor: pointer;
}
.clear {
  clear: both;
}
.testmonial {
  width: 90%;
}
.testmonial .container {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
}

.testmonial .container .row h1 {
  margin: 16px auto;
  margin: 1rem auto;
}
.testmonial .gallery-cell {
  width: 40%;
  height: 200px;
  margin: 24px;
  margin: 1.5rem;
  box-shadow: 2px 2px 6px 1px #b9b9b9;
  background-color: #fff;
}
.testmonial .flickity-page-dots {
  bottom: -40px;
}
.testmonial .gallery-cell .content {
  width: 100%;
  height: 100%;
  padding: 32px 16px;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.testmonial .gallery-cell .content p:first-child {
  font-size: 17.6px;
  font-size: 1.1rem;
  color: rgba(31, 31, 31, 0.699);
  letter-spacing: 1px;
}
.testmonial .gallery-cell .content i {
  font-size: 40px;
  font-size: 2.5rem;
  color: #22bcb4;
}
.testmonial .gallery-cell .content .down-it {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  gap: 1rem;
}
.testmonial .gallery-cell .content h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: 700;
}
.testmonial .gallery-cell .content p:last-child {
  font-size: 16px;
  font-size: 1rem;
  color: rgba(31, 31, 31, 0.699);
}
@media screen and (min-width: 960px){
  .banner .row{
    max-height: 800px;
  }
  .inset{
    padding: 96px 48px 40px;
    width: 100%;
  }
  .inset .Container{
    width: 90%;
  }
  .inset .Content{
    padding: 64px 60px;
    max-width: 400px;
    min-width: 328px;
  }
  .inset .Content:before{
    border-width: 10px;
  }
  .inset .Quotation:before{
    font-size: 72px;
  }
  .inset .Testifier{
    max-width: 188px;
    margin-top: 20px;
  }
  .inset .Image{
    -webkit-transform: translateX(-40px) translateY(40px);
    transform: translateX(-40px) translateY(40px);
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    height: auto;
    padding-top: 0;
  }
  .inset .Quotation:before{
    font-size: 72px;
  }
}
@media only screen and (min-width: 850px){
  .nav ul li{
    width: 5rem;
    margin-right: 0.3rem;
  }
  .sc-header .socials li i{
    font-size: 1rem;
  }
}
